/**** *** *** ABSTRACT SECTION *** *** ***/ /*** *** *** COLOR PALETTE SECTION:  *** *** ***/
/*** *** *** BASE SECTION *** *** ***/
/*** *** *** RESET PAGE SETTINGS:  *** *** ***/
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  background-color: #efedea;
}

body {
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1 0 auto;
}

nav,
footer,
header,
main,
div,
section,
article,
h1,
h2,
h3,
h4,
h5,
h6,
p,
i,
a,
input,
textarea,
section,
option,
label,
ul,
ol,
li,
form,
img,
iframe {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  margin: 100px 0px;
}
@media screen and (max-width: 567px) {
  .section {
    margin: 50px 0px;
  }
}

.row--fix {
  margin: 0;
  padding: 0;
}

@media (min-width: 1200px) {
  .container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 1134px;
  }
}

/*** *** *** TYPOGRAPHY SECTION:  *** *** ***/
h1 {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 58px;
  text-transform: none;
  font-size: 50px;
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 30px;
    letter-spacing: 1.2px;
    line-height: 46px;
  }
}

h2 {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  letter-spacing: 1.6px;
  line-height: 50px;
  font-size: 40px;
}

h3 {
  font-weight: 350;
  font-size: 40px;
  text-transform: uppercase;
}

h4 {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  font-size: 30px;
  text-transform: uppercase;
}

h5 {
  font-family: "Nanum Myeongjo", serif;
  letter-spacing: 1.6px;
  line-height: 50px;
  font-size: 40px;
  font-weight: 600;
}

h6 {
  font-weight: 800;
  font-size: 12px;
  text-transform: uppercase;
}

/*** *** *** COMPONENTS SECTION *** *** ***/
/*** *** *** BUTTON SECTION:  *** *** ***/
.btn {
  text-transform: uppercase;
  border-radius: 0;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1), -5px -5px 20px rgba(255, 255, 255, 0.1);
}
.btn:hover {
  cursor: pointer;
}
.btn--primary {
  background: rgb(12, 12, 12);
  color: #ffffff;
  font-weight: 500;
}
.btn--primary:hover {
  background: #262626;
  color: #ffffff;
}
.btn--secondary {
  background: rgb(184, 161, 136);
  color: rgb(12, 12, 12);
  font-weight: 500;
}
.btn--secondary:hover {
  background: #cbbaa8;
  color: rgb(12, 12, 12);
}
.btn--tertiary {
  background: rgb(184, 161, 136);
  color: rgb(12, 12, 12);
  font-weight: 700;
}
.btn--tertiary:hover {
  background: #cbbaa8;
  color: rgb(12, 12, 12);
}
.btn--warning {
  background: rgb(189, 0, 0);
  color: white;
}
.btn--warning:hover {
  background: rgb(112, 13, 0);
  color: white;
}
.btn--lg {
  padding: 20px 60px;
  font-weight: 700;
}
.btn--md {
  padding: 20px 40px;
  font-weight: 700;
}
.btn--sm {
  letter-spacing: 2px;
  line-height: 1.2;
  padding: 14px 20px;
  font-size: 12px;
}
.btn--xs {
  padding: 12px 27px;
  font-weight: 600;
  font-size: 13px;
  margin-top: -13px;
}
.btn--cta {
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 1.2;
  min-width: 220px;
  max-width: 280px;
  padding: 14px 20px;
  font-weight: 600;
}
.btn--input {
  padding: 3px 6px;
  font-size: 14px;
}

/*** *** *** LAYOUT SECTION *** *** ***/
/*** *** *** FOOTER SECTION:  *** *** ***/
.footer {
  background-color: rgb(12, 12, 12);
}
.footer .footer-l {
  max-width: 1125px;
}
.footer .footer-l__logo-image {
  height: 5.8em;
  margin-top: 23px;
  object-fit: contain;
  width: 100%;
  margin-bottom: 20px;
}
.footer .footer-l__image1 {
  width: 100%;
  margin-top: -59;
  margin-bottom: 30px;
}
.footer .footer-l__image2 {
  width: 100%;
  margin-top: -59;
  margin-bottom: 30px;
}
.footer .footer-r__content {
  margin-top: 40px;
  margin-left: 85px;
  color: white;
}
@media screen and (max-width: 769px) {
  .footer .footer-r__content {
    margin-left: 0px;
  }
}
.footer .footer-r__heading {
  margin-bottom: 23px;
  font-size: 33px;
}
@media screen and (max-width: 769px) {
  .footer .footer-r__heading {
    text-align: center;
  }
}
.footer .footer-r__list {
  column-count: 3;
  list-style-type: none;
  position: relative;
  margin: 0px 22px 37px 0px;
}
@media screen and (max-width: 769px) {
  .footer .footer-r__list {
    flex-direction: column;
    column-count: 1;
    text-align: center;
  }
}
.footer .footer-r__item {
  margin-bottom: 30px;
}
@media screen and (max-width: 769px) {
  .footer .footer-r__item {
    margin-bottom: 23px;
    font-size: 16px;
  }
}
.footer .footer-r__smedia {
  margin-bottom: 19px;
}
@media screen and (max-width: 769px) {
  .footer .footer-r__smedia {
    text-align: center;
  }
}
.footer .footer-r__smedia a {
  color: rgb(184, 161, 136);
  font-size: 69px;
  height: 96px;
  width: 76px;
  display: inline-block;
}
.footer .footer-r__smedia a:hover {
  filter: brightness(130%);
}
.footer .footer-r__copyright {
  font-size: 13px;
}
@media screen and (max-width: 769px) {
  .footer .footer-r__copyright {
    text-align: center;
  }
}

/****************** Footer social media style ***************/
/************** Footer copyrigt style *********************/
/*************************** Responsive tablet footer style  *********************************/
/********************************************************************************************/
/********************************************************************************************/
/*************************** Responsive mobile footer style  *********************************/
/********************************************************************************************/
/*** *** *** NAV MENU:  *** *** ***/
.nav {
  background-color: rgb(12, 12, 12);
}
@media screen and (max-width: 991px) {
  .nav .container {
    padding: 0;
    margin: 0;
    max-width: 100%;
  }
}
.nav__top {
  margin: 0;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .nav__top {
    border-bottom: 1px solid rgb(184, 161, 136);
  }
}
.nav__trademark {
  width: 100%;
}
.nav__logo {
  width: auto;
  height: 95px;
  padding: 10px;
}
.nav__logo:hover {
  cursor: pointer;
}
.nav__icons {
  font-size: 22px;
  font-weight: 300;
  color: #ffffff;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .nav__icons {
    margin-right: 15px;
  }
}
.nav__icons i:last-child {
  color: #ffffff;
}
.nav__icons i:hover {
  cursor: pointer;
  color: rgb(184, 161, 136);
}
.nav__icon {
  position: relative;
  color: black;
}
.nav__icon-quantity {
  position: absolute;
  top: -18px;
  right: -8px;
  border-radius: 100%;
  background: rgb(12, 12, 12);
  font-size: 15px;
  text-align: center;
  padding: 2px;
  font-weight: 600;
  color: rgb(184, 161, 136);
  width: 23px;
  height: 23px;
}
@media (max-width: 991px) {
  .nav__menu {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 888;
    background: #262626;
    padding-top: 100px;
    height: 100%;
    transition: 0.2s linear;
    width: 250px;
  }
}
@media screen and (min-width: 992px) {
  .nav__menu {
    border-top: 1px solid rgb(184, 161, 136);
  }
}
.nav__menu-icon {
  width: 40px;
  padding: 0;
  height: 100%;
}
@media (min-width: 992px) {
  .nav__menu-icon {
    display: none;
  }
}
.nav__menu__list {
  list-style: none;
}
@media (max-width: 991px) {
  .nav__menu__list {
    display: flex;
    flex-direction: column;
    line-height: 50px;
    text-align: center;
    justify-content: start;
  }
}
@media (min-width: 992px) {
  .nav__menu__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 75px;
    text-align: center;
    justify-content: center;
  }
}
.nav__menu__item {
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 1.5px;
}
@media (max-width: 991px) {
  .nav__menu__item {
    padding: 10px 20px;
  }
}
@media (min-width: 992px) {
  .nav__menu__item {
    padding: 0px 30px;
  }
}
.nav__link {
  color: #ffffff;
  text-transform: uppercase;
  transition: 0.15s ease-in-out;
}
@media screen and (max-width: 991px) {
  .nav__link {
    color: #ffffff;
  }
}
.nav__link:hover {
  color: rgb(184, 161, 136);
  text-decoration: none;
}

@media (max-width: 991px) {
  .open-menu {
    left: 0px;
  }
  .fixed {
    position: fixed;
  }
  .nav__menu__vertical-line {
    padding: 28px 20px;
    box-shadow: -2px 0 0 -0.7px #b8a188;
  }
}
/*** *** *** NAV MENU ICON:  *** *** ***/
.nav__menu-icon {
  z-index: 999;
  max-width: 40px;
  height: 45px;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
@media screen and (max-width: 567px) {
  .nav__menu-icon {
    height: 35px;
    max-width: 30px;
  }
}
.nav__menu-icon:hover {
  cursor: pointer;
}
.nav__menu-icon span {
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: -15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
@media screen and (max-width: 567px) {
  .nav__menu-icon span {
    height: 3px;
    left: -8px;
  }
}
.nav__menu-icon span:nth-child(1) {
  top: 5px;
}
@media screen and (max-width: 567px) {
  .nav__menu-icon span:nth-child(1) {
    top: 3px;
  }
}
.nav__menu-icon span:nth-child(2), .nav__menu-icon span:nth-child(3) {
  top: 20px;
}
@media screen and (max-width: 567px) {
  .nav__menu-icon span:nth-child(2), .nav__menu-icon span:nth-child(3) {
    top: 15px;
  }
}
.nav__menu-icon span:nth-child(4) {
  top: 35px;
}
@media screen and (max-width: 567px) {
  .nav__menu-icon span:nth-child(4) {
    top: 27px;
  }
}
.nav__menu-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.nav__menu-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav__menu-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.nav__menu-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/*** *** *** SEARCH:  *** *** ***/
.search {
  text-align: center;
}
.search--lg {
  padding: 0px;
  padding: 25px 0;
  max-width: 255px;
}
@media (max-width: 991px) {
  .search--lg {
    display: none;
  }
}
.search--sm {
  padding: 25px 20px;
  background: rgb(12, 12, 12);
  justify-content: center;
}
@media (min-width: 992px) {
  .search--sm {
    display: none;
  }
}
.search--sm .search__input {
  width: 200px;
  background: #ffffff;
}
.search__input {
  border: 0;
  border-radius: 0;
  background: #ffffff;
  height: 35px;
  padding: 2px 5px;
  width: 220px;
}
.search__input:focus {
  outline: 2px solid rgb(184, 161, 136);
}
.search__btn {
  text-align: center;
  color: #ffffff;
  height: 35px;
  width: 35px;
  border: 0;
  outline: 0;
  margin-left: 9px;
  margin-top: -13px;
  font-size: 25px;
}
.search__btn:hover {
  color: rgb(184, 161, 136);
}

/*** *** *** BREDCRUMB SECTION:  *** *** ***/
.breadcrumb {
  background: #efedea;
}
.breadcrumb-item a {
  color: rgb(12, 12, 12);
}

/*** *** *** PEAGES SECTION *** *** ***/
/*** *** *** HOME COLLAGE:  *** *** ***/
.collage {
  position: relative;
}
.collage__men {
  background: url("/graphical-items/images/collage_img_01_resize.jpeg");
  background-position: 0% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}
.collage__men--dark-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  left: 0;
}
.collage__men a:hover {
  color: rgb(184, 161, 136);
}
@media screen and (max-width: 567px) {
  .collage__men {
    height: 300px;
    background-position: 100% 0%;
  }
}
.collage__men__content {
  max-width: 380px;
  color: #ffffff;
  text-align: center;
}
@media screen and (max-width: 567px) {
  .collage__men__content {
    padding: 213px 10px;
    margin-left: -113px;
  }
}
@media screen and (min-width: 568px) and (max-width: 991px) {
  .collage__men__content {
    margin-left: -90px;
    padding: 493px 30px;
  }
}
@media screen and (min-width: 992px) {
  .collage__men__content {
    padding: 522px 0px;
    margin-left: -83px;
  }
}
.collage__women {
  background: url("/graphical-items/images/collage_img_02_resize.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 290px;
}
.collage__women--dark-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  left: 0;
}
.collage__women a:hover {
  color: rgb(184, 161, 136);
}
@media screen and (max-width: 567px) {
  .collage__women {
    height: 300px;
  }
}
.collage__women__content {
  color: #ffffff;
  padding-top: 130px;
}
@media screen and (max-width: 567px) {
  .collage__women__content {
    padding-top: 210px;
    margin-left: 10px;
  }
}
@media screen and (min-width: 568px) and (max-width: 991px) {
  .collage__women__content {
    padding: 205px 0 0 40px;
    margin-left: -2px;
  }
}
@media screen and (min-width: 992px) {
  .collage__women__content {
    padding: 200px 0 0 40px;
    margin-left: -9px;
  }
}
.collage__sport {
  background: url("/graphical-items/images/collage_img_03_resize.jpeg");
  background-position: 0% 70%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 290px;
}
.collage__sport--dark-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  left: 0;
}
.collage__sport a:hover {
  color: rgb(184, 161, 136);
}
@media screen and (max-width: 567px) {
  .collage__sport {
    height: 300px;
  }
}
.collage__sport__content {
  text-align: center;
  padding-top: 30px;
  color: #ffffff;
}
@media screen and (max-width: 567px) {
  .collage__sport__content {
    padding-top: 215px;
    text-align: left;
    margin-left: 17px;
  }
}
@media screen and (min-width: 568px) and (max-width: 991px) {
  .collage__sport__content {
    padding-top: 209px;
    margin-left: 49px;
    text-align: left;
  }
}
@media screen and (min-width: 992px) {
  .collage__sport__content {
    padding-top: 210px;
    margin-left: -45px;
  }
}
.collage__sale {
  background: url("/graphical-items//images/collage_img_04_resize.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 290px;
}
.collage__sale a:hover {
  color: rgb(184, 161, 136);
}
@media screen and (max-width: 567px) {
  .collage__sale {
    height: 300px;
    padding: 10px;
  }
}
.collage__sale__content {
  color: #ffffff;
  text-align: center;
  padding-top: 30px;
}
@media screen and (max-width: 567px) {
  .collage__sale__content {
    padding-top: 215px;
    text-align: left;
    margin-left: 6px;
  }
}
@media screen and (min-width: 568px) and (max-width: 991px) {
  .collage__sale__content {
    padding-top: 205px;
    text-align: left;
    margin-left: 40px;
  }
}
@media screen and (min-width: 992px) {
  .collage__sale__content {
    padding-top: 209px;
    margin-left: -90px;
  }
}

@media screen and (max-width: 767px) {
  .collage__men,
.collage__women,
.collage__sport,
.collage__sale {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .collage__men,
.collage__women {
    margin-bottom: 20px;
  }
  .collage__sport {
    margin-right: 20px;
  }
}
@media screen and (min-width: 992px) {
  .collage__men {
    margin-right: 20px;
  }
  .collage__women {
    margin-bottom: 20px;
  }
  .collage__sport {
    margin-right: 20px;
  }
}
/*** *** *** HOME HERO BANNER:  *** *** ***/
.hero {
  position: relative;
}
@media screen and (min-width: 2000px) {
  .hero {
    max-width: 2000px;
    margin-right: auto;
    margin-left: auto;
  }
}
.hero__content {
  max-width: 600px;
  position: absolute;
  color: white;
}
@media screen and (max-width: 449px) {
  .hero__content {
    position: absolute;
    top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    padding: 13px;
    width: 100%;
  }
}
@media screen and (min-width: 450px) and (max-width: 767px) {
  .hero__content {
    position: absolute;
    top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    padding: 13px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1220px) {
  .hero__content {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-5%, -50%);
  }
}
@media screen and (min-width: 1221px) and (max-width: 1500px) {
  .hero__content {
    max-width: 550px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-20%, -50%);
    align-self: center;
  }
}
@media screen and (min-width: 1501px) {
  .hero__content {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-30%, -50%);
    align-self: center;
  }
}
.hero__content--dark-overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 601px;
  padding: 29px;
}
@media screen and (max-width: 767px) {
  .hero__content--dark-overlay {
    background: rgba(0, 0, 0, 0);
    padding: 0px;
    margin-left: 3%;
    margin-top: 551px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1220px) {
  .hero__content--dark-overlay {
    padding: 17px;
    height: 601px;
    width: 314px;
  }
}
.hero__text {
  font-size: 16px;
  margin-top: 15px;
  letter-spacing: 0.5px;
}
@media screen and (max-width: 449px) {
  .hero__text {
    font-size: 1em;
    margin-top: 15px;
    letter-spacing: 0.3px;
  }
}
.hero__button {
  margin-top: 20px;
}
.hero__banner {
  background-position: 60% 0% !important;
  background-repeat: no-repeat;
  background-size: cover !important;
  height: 600px;
}
.hero__banner--dark-overlay {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .hero__banner--dark-overlay {
    background: rgba(0, 0, 0, 0.25);
  }
}

/*** *** *** LOYALTY:  *** *** ***/
@media screen and (min-width: 1200px) {
  .loyalty-program--dark-overlay {
    width: 1100px;
    height: 341px;
    background: rgba(0, 0, 0, 0.25);
    position: relative;
    margin-top: -387px;
    background-size: contain;
    height: 341px;
    margin-left: auto;
    margin-right: auto;
    color: white;
  }
}
.loyalty-program__img {
  background: url("/graphical-items/images/loyality_program_img_01_resize.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 341px;
  margin-top: 34px;
  width: 100%;
}
.loyalty-program__content {
  text-align: left;
  margin-left: 510px;
  margin-top: 46px;
  padding-top: 57px;
}
@media screen and (min-width: 950px) and (max-width: 1199px) {
  .loyalty-program__content {
    text-align: center;
    margin-left: 19px;
    margin-top: -103px;
  }
}
@media screen and (min-width: 768px) and (max-width: 948px) {
  .loyalty-program__content {
    text-align: center;
    margin-left: 19px;
    margin-top: -123px;
  }
}
@media screen and (max-width: 767px) {
  .loyalty-program__content {
    text-align: center;
    margin-left: 19px;
    margin-top: -143px;
  }
}
.loyalty-program__heading {
  margin-bottom: 10px;
  margin-top: 73px;
}
.loyalty-program__btn {
  margin-top: 13px;
}

/*** *** *** NEWSLETTER:  *** *** ***/
@media screen and (min-width: 1200px) {
  .newsletter--dark-overlay {
    width: 1100px;
    height: 341px;
    background: rgba(0, 0, 0, 0.25);
    position: relative;
    margin-top: -413px;
    background-size: contain;
    height: 368px;
    margin-left: auto;
    margin-right: auto;
    color: white;
  }
}
.newsletter__img {
  background: url("/graphical-items/images/newsletter_img_01_resize.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 366px;
  margin-top: 34px;
  width: 100%;
}
.newsletter__content {
  text-align: left;
  margin-left: 73px;
  margin-top: 46px;
  padding-top: 78px;
  transform: translate(-50%, -50%);
  top: 100px;
  position: relative;
  margin-left: 413px;
}
@media screen and (min-width: 950px) and (max-width: 1199px) {
  .newsletter__content {
    text-align: center;
    margin-left: 19px;
    margin-top: -25px;
    transform: unset;
    top: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 948px) {
  .newsletter__content {
    text-align: center;
    margin-left: 19px;
    margin-top: -76px;
    transform: unset;
    top: 0px;
  }
}
@media screen and (max-width: 767px) {
  .newsletter__content {
    text-align: center;
    margin-left: 19px;
    margin-top: -90px;
    transform: unset;
    top: 0px;
  }
}
.newsletter__input {
  border: 1px solid #989898;
  font-size: 18px;
  height: 33px;
  margin-left: -2px;
  padding: 10px 10px;
  position: relative;
  width: 75%;
  margin-top: 13px;
}
@media screen and (min-width: 950px) and (max-width: 1199px) {
  .newsletter__input {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 948px) {
  .newsletter__input {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
.newsletter__input:focus {
  outline: 2px solid rgb(184, 161, 136);
}
.newsletter__btn {
  border: none;
  font-size: 17px;
  height: 35px;
  vertical-align: top;
  width: 64px;
  margin-left: 518px;
  margin-top: -34px;
  background-color: rgb(184, 161, 136);
}
@media screen and (min-width: 950px) and (max-width: 1199px) {
  .newsletter__btn {
    margin: 20px 0 0 0px;
    width: 50%;
    height: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 948px) {
  .newsletter__btn {
    margin: 20px 0 0 0px;
    width: 50%;
    height: 40px;
  }
}
@media screen and (max-width: 767px) {
  .newsletter__btn {
    margin: 20px 0 0 0px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
  }
}
.newsletter__btn:hover {
  background: #cbbaa8;
}
.newsletter__btn i {
  color: rgb(12, 12, 12);
}

/*** *** *** INFO BAR:  *** *** ***/
.info-bar {
  background-color: #ffffff;
  margin-top: 27px;
  overflow: auto;
  position: relative;
  padding: 10px 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 23px;
}
@media screen and (min-width: 1200px) {
  .info-bar {
    width: 1100px;
  }
}
@media screen and (max-width: 1199px) {
  .info-bar {
    width: 100%;
  }
}
.info-bar p {
  color: rgb(12, 12, 12);
  float: left;
  font-size: 14px;
  padding: 2px 0;
  text-align: center;
  transition: all 0.3s ease;
  width: 33%;
}
.info-bar i {
  font-size: 23px;
  margin-bottom: 12px;
  margin-top: 7px;
}
.info-bar span {
  display: block;
  font-size: 12px;
}

/*** *** *** PRODUCT CART:  *** *** ***/
.featured {
  background-color: white;
}
.featured__title {
  text-align: center;
  padding: 20px;
}

.product {
  text-align: center;
  max-width: 250px;
  margin: 30px 0;
  padding: 10px;
  transition: 0.25s ease-in-out;
}
@media screen and (min-width: 568px) and (max-width: 991px) {
  .product {
    padding: 10px 20px;
  }
}
.product__image {
  margin: 0;
  width: 100%;
  overflow: hidden;
}
.product__content {
  padding: 10px;
}
.product__title {
  font-size: 18px;
}
.product__desc {
  margin: 0;
}
.product__price {
  font-weight: 600;
  margin-top: 15px;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 19px;
  margin-bottom: 28px;
  width: 100%;
}
.product__button {
  margin: 0 !important;
  width: 100%;
}

/*** *** *** PRODUCT LAYOUT:  *** *** ***/
.header {
  background-color: white;
  text-align: center;
  padding-top: 5px;
  margin-top: 2px;
}

.products {
  margin-left: 0px;
  margin-right: 0px;
  justify-content: space-between;
  background-color: white;
}
@media screen and (max-width: 567px) {
  .products {
    justify-content: center;
    margin: 0 0 50px 0;
  }
}
@media screen and (min-width: 568px) and (max-width: 991px) {
  .products {
    justify-content: center;
    margin: 0 0 50px 0;
  }
}
@media screen and (min-width: 992) {
  .products {
    justify-content: center;
    margin: 0 0 50px 0;
  }
}

.filter {
  margin: 0;
  text-align: right;
  justify-content: flex-end;
}

/*** *** *** ABOUT:  *** *** ***/
.about {
  margin-bottom: 23px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1104px;
  width: 100%;
  padding: 20px 0px;
  background-color: #ffffff;
  text-align: center;
  margin-top: 35px;
}
.about__heading {
  margin-bottom: 10px;
}
.about__text {
  padding: 10px;
}

/*** *** *** DETAILS:  *** *** ***/
.details {
  background-color: #ffffff;
  max-width: 1105px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 950px) and (max-width: 1199px) {
  .details {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 948px) {
  .details {
    margin-bottom: -33px;
  }
}
@media screen and (max-width: 767px) {
  .details {
    margin-bottom: -63px;
  }
}
.details__content-container {
  margin: 50px 0;
}
@media screen and (max-width: 567px) {
  .details__content-container {
    margin: 0;
  }
}
@media screen and (min-width: 568px) and (max-width: 991px) {
  .details__content-container {
    margin: 0;
  }
}
@media screen and (max-width: 567px) {
  .details__images {
    padding: 0 0 15px 0;
  }
}
@media screen and (min-width: 568px) and (max-width: 991px) {
  .details__images {
    padding: 0 0 20px 0;
  }
}
.details__images img {
  width: 100%;
  margin-top: 55px;
}
@media screen and (min-width: 568px) and (max-width: 991px) {
  .details__images img {
    margin-top: 103px;
  }
}
@media screen and (max-width: 567px) {
  .details__images img {
    padding: 0;
  }
}
.details__content {
  margin-left: 180px;
  padding-top: 30px;
  text-align: center;
}
@media screen and (max-width: 567px) {
  .details__content {
    margin: 10px;
  }
}
@media screen and (min-width: 568px) and (max-width: 991px) {
  .details__content {
    margin-left: 0px;
  }
}
.details__icon {
  margin-top: -13px;
  margin-bottom: 22px;
  font-size: 12px;
}
.details__svg {
  width: 73px;
}
.details__item {
  display: block;
}
.details__title {
  font-size: 30px;
  margin-bottom: 20px;
}
.details__price {
  font-weight: 600;
  margin-top: 15px;
  letter-spacing: 0.5px;
  line-height: 19px;
  font-size: 22px;
}
.details__btn {
  margin-top: 15px;
  width: 55%;
}
@media screen and (min-width: 568px) and (max-width: 991px) {
  .details__btn {
    width: 71%;
  }
}
.details__advantage {
  list-style: none;
  margin-top: 20px;
  font-size: 12px;
  text-align: left;
  margin-left: 26%;
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .details__advantage {
    margin-left: 37px;
  }
}
.details__advantage li {
  margin: 5px 0;
}
.details__advantage i {
  margin-right: 5px;
  color: rgb(184, 161, 136);
  font-size: 13px;
}
@media screen and (min-width: 568px) and (max-width: 991px) {
  .details__desc {
    margin-bottom: 20px;
    padding: 0;
  }
}

.accordion .card {
  border: 0;
  background-color: #ffffff;
}
.accordion .card-header {
  background: #ffffff;
  border: 0;
}
.accordion .card-body {
  border: 0;
  outline: 0;
  padding: 0px 30px 20px 23px;
}
.accordion .card-body:focus {
  border: 0;
  outline: 0;
}
.accordion__title {
  width: 100%;
  text-align: left;
  border: 0;
  background: rgb(184, 161, 136);
  color: rgb(12, 12, 12);
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 1px solid black;
  border-style: hidden;
}
.accordion__title:focus {
  outline: 0;
}
.accordion__title:hover {
  cursor: pointer;
}
.accordion i {
  color: rgb(12, 12, 12);
  margin-left: 80%;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .accordion i {
    margin-left: 73%;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  .accordion i {
    margin-left: 57%;
  }
}
@media screen and (min-width: 372px) and (max-width: 499px) {
  .accordion i {
    margin-left: 40%;
  }
}
@media screen and (max-width: 371px) {
  .accordion i {
    margin-left: 33%;
  }
}

/*** *** *** CART:  *** *** ***/
.cart-header__container {
  background-color: #efedea;
  margin-top: -40px;
}

.cart {
  margin: 50px auto;
}
@media screen and (max-width: 567px) {
  .cart {
    margin: 20px auto;
  }
}
@media screen and (min-width: 568px) and (max-width: 991px) {
  .cart {
    width: 100%;
    max-width: 1100px;
  }
}
.cart__section {
  margin: 0px;
  padding-top: 0;
}
@media screen and (max-width: 567px) {
  .cart__section {
    padding: 0px;
    margin: 0px;
  }
}
@media screen and (min-width: 568px) and (max-width: 991px) {
  .cart__section {
    padding: 0px;
    margin-left: 15px;
  }
}
.cart__section--info {
  padding: 20px;
  background-color: #ffffff;
  margin-bottom: 9px;
}
@media screen and (max-width: 991px) {
  .cart__section--info {
    padding: 10px;
    margin-top: 13px;
    margin-left: 0px;
  }
}
.cart__advantage {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 18px;
}
.cart__advantage i {
  margin-right: 5px;
  color: rgb(184, 161, 136);
  font-size: 13px;
}
.cart__checkout {
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  margin-left: -6px;
  margin-top: 10px;
}
.cart__checkout i {
  color: rgb(184, 161, 136);
  margin-top: 19px;
  margin-right: 9px;
}
.cart__products {
  width: 100%;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 567px) {
  .cart__products {
    padding: 0px;
  }
}
@media screen and (min-width: 568px) and (max-width: 991px) {
  .cart__products {
    padding: 0px;
    margin: 0px;
  }
}
.cart__product-card {
  padding: 83px 0px;
  margin-bottom: 20px;
  margin-top: 0;
  background-color: #ffffff;
}
.cart__product-card:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 567px) {
  .cart__product-card {
    padding: 44px;
    margin-left: 0px;
  }
}
@media screen and (min-width: 568px) and (max-width: 991px) {
  .cart__product-card {
    padding: 15px;
  }
}
.cart__product-card__image {
  padding: 0;
}
@media screen and (max-width: 567px) {
  .cart__product-card__image {
    max-width: 163px;
    max-height: 112px;
  }
}
@media screen and (min-width: 568px) and (max-width: 991px) {
  .cart__product-card__image {
    max-width: 200px;
    max-height: 200px;
  }
}
@media screen and (min-width: 992px) {
  .cart__product-card__image {
    max-width: 223px;
    height: 173px;
    margin: 0 15px;
  }
}
.cart__product-card__content {
  padding: 0px;
  display: flex;
  flex-direction: column;
  margin-left: 42px;
  margin-bottom: 26px;
  margin-top: -20px;
}
@media screen and (max-width: 567px) {
  .cart__product-card__content {
    padding: 0px;
  }
}
@media screen and (min-width: 568px) and (max-width: 991px) {
  .cart__product-card__content {
    padding: 15px;
  }
}
.cart__product-card__title {
  padding: 0 0 7px 0;
  max-height: 30px;
  font-size: 33px;
  font-weight: 600;
}
@media screen and (max-width: 567px) {
  .cart__product-card__title {
    font-size: 14px;
    margin-bottom: 22px;
  }
}
@media screen and (min-width: 568px) and (max-width: 991px) {
  .cart__product-card__title {
    font-size: 17px;
    padding-bottom: 5px;
    max-height: 25px;
  }
}
.cart__product-card__price {
  font-weight: 600;
}
@media screen and (max-width: 567px) {
  .cart__product-card__price {
    font-size: 13px;
    padding: 0;
    margin-bottom: 3px;
    font-weight: 700;
  }
}
@media screen and (min-width: 568px) and (max-width: 991px) {
  .cart__product-card__price {
    font-size: 17px;
    padding: 10px 10px 0 0px;
    max-height: 30px;
  }
}
@media screen and (min-width: 992px) {
  .cart__product-card__price {
    margin-left: -13px;
    margin-top: 28px;
  }
}
.cart__product-card__link {
  margin-top: auto;
  font-size: 13px;
  color: rgb(24, 110, 117);
}
.cart__product-card__link:hover {
  color: rgb(24, 110, 117);
}
.cart__total {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #707070;
  margin-bottom: 20px;
  padding-bottom: 5px;
}
.cart__total__text {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
}
.cart__total__price {
  padding: 0;
  font-size: 13px;
  font-weight: 700;
  text-align: right;
}
.cart__checkout-btn {
  margin: 20px 0;
}

/*** *** *** FEEDBACK:  *** *** ***/
.feedback {
  width: 100%;
}
.feedback--success {
  background: rgb(173, 216, 173);
  text-align: center;
  padding: 15px;
}
.feedback--error {
  background: #d63737;
  color: white;
  font-weight: 500;
  margin: 0px 0 20px 0;
  text-align: center;
  padding: 15px;
}
.feedback--warning {
  background: rgb(204, 120, 24);
  color: white;
  font-weight: 500;
  margin: 20px 0 20px 0;
  text-align: center;
  padding: 15px;
}

/*** *** *** FORM VALIDATION:  *** *** ***/
.error {
  color: rgb(223, 0, 0);
  font-weight: 500;
  padding-top: 5px;
}

#image-error,
#title-error,
#price-error,
#description-error {
  display: none;
}

/*** *** *** THEMES/ADMIN SECTION *** *** ***/
.admin-menu {
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  line-height: 60px;
}
@media screen and (max-width: 991px) {
  .admin-menu {
    width: 100%;
    margin: 0;
    background: rgb(12, 12, 12);
    padding: 0;
  }
}
@media screen and (min-width: 992px) {
  .admin-menu {
    width: 630px;
    margin-left: 300px;
    display: flex;
  }
}
.admin-menu__breadcrumb {
  color: rgb(12, 12, 12);
}
.admin-menu__breadcrumb:hover {
  color: rgb(184, 161, 136);
  text-decoration: none;
}
.admin-menu__breadcrumb--lg {
  text-align: left;
  margin: auto 0px;
  display: block;
  font-size: 18px;
}
@media screen and (max-width: 991px) {
  .admin-menu__breadcrumb--lg {
    display: none;
  }
}
.admin-menu__breadcrumb--sm {
  display: block;
  padding-top: 15px;
}
@media screen and (min-width: 992px) {
  .admin-menu__breadcrumb--sm {
    display: none;
  }
}
.admin-menu__go-to-add-product-btn {
  margin: 15px 0 15px auto;
  padding: 0;
}
@media screen and (max-width: 991px) {
  .admin-menu__go-to-add-product-btn {
    margin: 10px 10px 10px auto;
  }
}
.admin-menu__go-to-edit-product-btn {
  margin: 15px 0 15px auto;
  padding: 0;
}
@media screen and (max-width: 991px) {
  .admin-menu__go-to-edit-product-btn {
    margin: 10px 10px 10px auto;
  }
}

.edit__container {
  max-width: 630px;
  margin-bottom: 50px;
}
@media screen and (max-width: 991px) {
  .edit__container {
    margin: 0 auto;
    max-width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .edit__container {
    margin-left: 300px;
  }
}
.edit__heading {
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.edit__form__label {
  width: 100%;
  margin-top: 25px;
  font-weight: 500;
}
.edit__form__input, .edit__form__textarea {
  border-radius: 0;
  outline: 0;
  border: 0;
  background: #ffffff;
  width: 100%;
  padding: 5px;
}
.edit__form__input:focus, .edit__form__textarea:focus {
  outline: 2px solid rgb(184, 161, 136);
}
.edit__form__textarea {
  height: 150px;
}
.edit__form__featured {
  margin-bottom: 30px;
}
.edit__form__delete-button {
  margin: 0;
}
.edit__form__button--add {
  margin-bottom: 50px;
}
.edit__advanced-option {
  margin-bottom: 80px;
  width: 100%;
}
.edit__advanced-option .card-header {
  padding: 0;
  margin-top: 30px;
}
.edit__advanced-option .card-body {
  padding: 20px;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: rgb(12, 12, 12);
  border-color: rgb(12, 12, 12);
}

#featured__true:checked ~ .featured__true {
  color: #fff;
  background-color: rgb(12, 12, 12);
  border-color: rgb(12, 12, 12);
}

.btn-secondary {
  color: rgb(12, 12, 12);
  background-color: #ffffff;
  border-color: #ffffff;
  margin-top: 5px;
}
.btn-secondary:hover {
  color: rgb(12, 12, 12);
  background-color: #ffffff;
  border-color: rgb(12, 12, 12);
}

.form-login {
  position: relative;
  background: #efedea;
  padding: 20px;
}
.form-login__container {
  position: absolute;
  width: 300px;
  padding: 0;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
}
.form-login__trademark {
  width: 180px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.form-login__logo {
  width: 100%;
}
.form-login__heading {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  color: white;
  font-size: 40px;
}
.form-login__content {
  width: 100%;
  max-width: 300px;
  padding-right: 0;
  padding-left: 0;
}
.form-login__label {
  padding: 0px 0px 0px 0px;
  max-width: 300px;
}
.form-login__label--password {
  padding-top: 20px;
}
.form-login__input {
  width: 100%;
  max-width: 300px;
  border: 0;
  outline: 0;
  padding: 2px 5px;
  height: 30px;
}
.form-login__input:focus {
  outline: 2px solid rgb(184, 161, 136);
}
.form-login__btn {
  margin-top: 20px;
}

.product-menu {
  position: fixed;
  top: 0;
  background: rgb(12, 12, 12);
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 888;
  transition: 0.3s linear;
}
@media screen and (max-width: 991px) {
  .product-menu {
    position: absolute;
    top: 0;
    left: -100%;
    width: 250px;
  }
}
@media screen and (max-width: 991px) {
  .product-menu--open {
    left: 0px;
  }
}
.product-menu__brand {
  width: 40%;
  align-self: center;
  margin: 20px;
}
@media screen and (max-width: 991px) {
  .product-menu__brand {
    display: none;
  }
}
.product-menu__logo {
  width: 100%;
}
.product-menu__list {
  list-style: none;
  padding: 20px 50px;
}
@media screen and (max-width: 576px) {
  .product-menu__list {
    padding: 15px;
    margin-top: 60px;
  }
}
.product-menu__item {
  padding: 10px 0px;
}
.product-menu__link {
  color: #ffffff;
  font-weight: 400;
}
.product-menu__link:hover {
  color: rgb(184, 161, 136);
  text-decoration: none;
}
.product-menu__link--active {
  color: rgb(184, 161, 136);
}
.product-menu__button {
  margin: auto 20px 20px 20px;
}

/*** *** *** THEMES/DEFAULTTHEMES SECTION *** *** ***/
.admin__body {
  background-color: black;
}

.admin-icon__reset {
  margin-left: 30px;
  margin-top: 17px;
}

.accordion > .card {
  overflow: visible;
}

.accordion-admin__card,
.accordion-admin__header {
  background-color: #efedea !important;
}

.accordion-admin-chevron__reset i {
  margin-left: 80%;
}
@media screen and (min-width: 752px) and (max-width: 991px) {
  .accordion-admin-chevron__reset i {
    margin-left: 86%;
  }
}
@media screen and (min-width: 596px) and (max-width: 751px) {
  .accordion-admin-chevron__reset i {
    margin-left: 82%;
  }
}
@media screen and (min-width: 446px) and (max-width: 595px) {
  .accordion-admin-chevron__reset i {
    margin-left: 75%;
  }
}
@media screen and (max-width: 445px) {
  .accordion-admin-chevron__reset i {
    margin-left: 66%;
  }
}

.product-menu__link {
  position: relative;
  top: 50px;
}/*# sourceMappingURL=style.css.map */