/*** *** *** CART:  *** *** ***/

//--- --- CART STYLE: --- ---//
.cart-header__container {
  background-color: $off-white-color;
  margin-top: -40px;
}

.cart {
  margin: 50px auto;

  @media screen and (min-width: 568px) and (max-width: 991px) {
    width: 100%;
    max-width: 1100px;
  }

  @media screen and (max-width: 567px) {
    margin: 20px auto;
  }

  &__section {
    margin: 0px;
    padding-top: 0;

    @media screen and (min-width: 568px) and (max-width: 991px) {
      padding: 0px;
      margin-left: 15px;
    }

    @media screen and (max-width: 567px) {
      padding: 0px;
      margin: 0px;
    }

    &--summary {
      padding: 20px;
      background-color: $white-color;
      margin-bottom: 0px;

      @media screen and (max-width: 991px) {
        padding: 10px;
        margin-top: 13px;
        margin-left: 0px;
      }
    }
  }

  &__advantage {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 18px;
    & i {
      margin-right: 5px;
      color: $secondary-color;
      font-size: 13px;
    }
  }

  &__checkout {
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    margin-left: -6px;
    margin-top: 10px;
    & i {
      color: $secondary-color;
      margin-top: 19px;
      margin-right: 9px;
    }
  }

  &__products {
    width: 100%;
    margin: 0;
    padding: 0;

    @media screen and (min-width: 568px) and (max-width: 991px) {
      padding: 0px;
      margin: 0px;
    }

    @media screen and (max-width: 567px) {
      padding: 0px;
    }
  }

  &__product-card {
    padding: 83px 0px;
    margin-bottom: 20px;
    margin-top: 0;
    background-color: $white-color;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: 568px) and (max-width: 991px) {
      padding: 15px;
    }

    @media screen and (max-width: 567px) {
      padding: 44px;
      margin-left: 0px;
    }

    //--- --- SHOPPING CART IMAGE STYLE: --- ---//
    &__image {
      padding: 0;

      @media screen and (min-width: 992px) {
        max-width: 223px;
        height: 173px;
        margin: 0 15px;
      }

      @media screen and (min-width: 568px) and (max-width: 991px) {
        max-width: 200px;
        max-height: 200px;
      }

      @media screen and (max-width: 567px) {
        max-width: 163px;
        max-height: 112px;
      }
    }
    //--- --- SHOPPING CART CONTENT STYLE: --- ---//
    &__content {
      padding: 0px;
      display: flex;
      flex-direction: column;
      margin-left: 42px;
      margin-bottom: 26px;
      margin-top: -20px;

      @media screen and (min-width: 568px) and (max-width: 991px) {
        padding: 15px;
      }

      @media screen and (max-width: 567px) {
        padding: 0px;
      }
    }
    //--- --- SHOPPING CART PRODUCT TITLE STYLE: --- ---//
    &__title {
      padding: 0 0 7px 0;
      max-height: 30px;
      font-size: 33px;
      font-weight: 600;

      @media screen and (min-width: 568px) and (max-width: 991px) {
        font-size: 17px;
        padding-bottom: 5px;
        max-height: 25px;
      }

      @media screen and (max-width: 567px) {
        font-size: 14px;
        margin-bottom: 22px;
      }
    }
    //--- --- SHOPPING CART PRODUCT PRICE STYLE: --- ---//
    &__price {
      font-weight: 600;
      @media screen and (min-width: 992px) {
        margin-left: -13px;
        margin-top: 28px;
      }
      @media screen and (min-width: 568px) and (max-width: 991px) {
        font-size: 17px;
        padding: 10px 10px 0 0px;
        max-height: 30px;
      }
      @media screen and (max-width: 567px) {
        font-size: 13px;
        padding: 0;
        margin-bottom: 3px;
        font-weight: 700;
      }
    }

    //--- --- SHOPPING CART LINK STYLE: --- ---//
    &__link {
      margin-top: auto;
      font-size: 13px;
      color: $tertiary-color;
      &:hover {
        color: $tertiary-color;
      }
    }
  }

  //--- ---SHOPPING CART TOTAL PRICE STYLE: --- ---//

  &__total {
    margin-bottom: 20px;
    padding-bottom: 5px;
    padding: 0;
    margin: 0;
    border-top: 1px solid #707070;

    &__text {
      padding: 0;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 13px;
    }

    &__price {
      padding: 0;
      font-weight: 700;
      text-align: right;
      font-size: 13px;
    }
  }

  //--- --- SHOPPING CART CHECKOUT BUTTON STYLE: --- ---//
  &__checkout-btn {
    margin: 20px 0;
  }
}
