/*** *** *** DETAILS:  *** *** ***/

//--- --- CART DETAILS STYLE: --- ---//
.details {
  background-color: $white-color;
  max-width: 1105px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 950px) and (max-width: 1199px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 768px) and (max-width: 948px) {
    margin-bottom: -33px;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: -63px;
  }

  &__content-container {
    margin: 50px 0;

    // @media screen and (max-width: 567px) {
    //   margin: 0;
    // }

    @media screen and (min-width: 568px) and (max-width: 991px) {
      margin: 0;
    }

    @media screen and (max-width: 567px) {
      margin: 0;
    }
  }

  &__images {
    // @media screen and (max-width: 567px) {
    //   padding: 0 0 15px 0;
    // }

    @media screen and (min-width: 568px) and (max-width: 991px) {
      padding: 0 0 20px 0;
    }

    @media screen and (max-width: 567px) {
      padding: 0 0 15px 0;
    }

    & img {
      width: 100%;
      margin-top: 55px;

      @media screen and (min-width: 568px) and (max-width: 991px) {
        margin-top: 103px;
      }
      @media screen and (max-width: 567px) {
        padding: 0;
      }
    }
  }

  &__content {
    margin-left: 180px;
    padding-top: 30px;
    text-align: center;

    // @media screen and (max-width: 567px) {
    //   margin: 10px;
    // }

    @media screen and (min-width: 568px) and (max-width: 991px) {
      margin-left: 0px;
    }

    @media screen and (max-width: 567px) {
      margin: 10px;
    }
  }

  &__icon {
    margin-top: -13px;
    margin-bottom: 22px;
    font-size: 12px;
  }
  &__svg {
    width: 73px;
  }

  &__item {
    display: block;
  }
  &__title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  &__price {
    font-weight: 600;
    margin-top: 15px;
    letter-spacing: 0.5px;
    line-height: 19px;
    font-size: 22px;
  }

  &__btn {
    margin-top: 15px;
    width: 55%;
    @media screen and (min-width: 568px) and (max-width: 991px) {
      width: 71%;
    }
  }

  &__advantage {
    list-style: none;
    margin-top: 20px;
    font-size: 12px;
    text-align: left;
    margin-left: 26%;
    @media screen and (min-width: 576px) and (max-width: 768px) {
      margin-left: 37px;
    }

    & li {
      margin: 5px 0;
    }
    & i {
      margin-right: 5px;
      color: $secondary-color;
      font-size: 13px;
    }
  }

  &__desc {
    @media screen and (min-width: 568px) and (max-width: 991px) {
      margin-bottom: 20px;
      padding: 0;
    }
  }
}

//--- --- CART ACCORDION STYLE: --- ---//
.accordion {
  & .card {
    border: 0;
    background-color: $white-color;
    &-header {
      background: $white-color;
      border: 0;
    }

    &-body {
      border: 0;
      outline: 0;
      padding: 0px 30px 20px 23px;

      &:focus {
        border: 0;
        outline: 0;
      }
    }
  }

  &__title {
    width: 100%;
    text-align: left;
    border: 0;
    background: $secondary-color;
    color: $primary-color;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px solid black;
    border-style: hidden;
    @media screen and (max-width: 499px) {
      font-size: 0.9rem;
    }
    &:focus {
      outline: 0;
    }

    &:hover {
      cursor: pointer;
    }
  }
  & i {
    color: $primary-color;
    margin-left: 80%;
    @media screen and (min-width: 768px) and (max-width: 991px) {
      margin-left: 73%;
    }
    @media screen and (min-width: 500px) and (max-width: 767px) {
      margin-left: 57%;
    }
    @media screen and (min-width: 400px) and (max-width: 499px) {
      margin-left: 52%;
    }
    @media screen and (max-width: 399px) {
      margin-left: 48%;
    }
  }
}
