/*** *** *** ABOUT:  *** *** ***/

//--- --- ABOUT STYLE: --- ---//

.about {
  margin-bottom: 23px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1104px;
  width: 100%;
  padding: 20px 0px;
  background-color: $white-color;
  text-align: center;
  margin-top: 35px;

  &__heading {
    margin-bottom: 10px;
  }
  &__text {
    padding: 10px;
  }
}
