/*** *** *** PRODUCT CARD:  *** *** ***/

//--- --- PRODUCT CARD STYLE: --- ---//
.featured {
  background-color: $white-color;
  &__title {
    text-align: center;
    padding: 20px;
  }
}
.product {
  margin: 30px 0;
  padding: 10px;
  max-width: 250px;

  text-align: center;

  @media screen and (min-width: 568px) and (max-width: 991px) {
    padding: 10px 20px;
  }

  &__image {
    overflow: hidden;
    margin: 0;
    width: 100%;
  }

  &__content {
    padding: 10px;
    color: $primary-color;
    &:hover {
      text-decoration: none;
      color: $primary-color;
    }
  }

  &__title {
    font-size: 18px;
  }

  &__price {
    font-weight: 600;
    margin-top: 15px;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 19px;
    margin-bottom: 28px;
    width: 100%;
  }

  &__button {
    width: 100%;
  }
}
