.admin-menu {
  display: flex;
  flex-direction: row;
  padding: 0 15px;
  line-height: 60px;

  @media screen and (min-width: 992px) {
    width: 630px;
    margin-left: 300px;
  }
  @media screen and (max-width: 991px) {
    width: 100%;

    background: colors(primary);
    padding: 0;
  }

  &__breadcrumb {
    color: $primary-color;
    &:hover {
      color: $secondary-color;
      text-decoration: none;
    }
    &--lg {
      display: block;
      margin: auto -30px;
      text-align: left;
      font-size: 18px;

      @media screen and (max-width: 991px) {
        display: none;
      }
    }

    &--sm {
      display: block;
      padding-top: 15px;
      margin-left: 8px;

      @media screen and (min-width: 992px) {
        display: none;
      }
    }
  }

  &__go-to-add-product-btn {
    margin: 15px 0 15px auto;
    padding: 0;

    @media screen and (max-width: 991px) {
      margin: 9px 9px 9px auto;
    }
  }

  &__go-to-edit-product-btn {
    margin: 15px 0 15px auto;
    padding: 0;

    @media screen and (max-width: 991px) {
      margin: 9px 9px 9px auto;
    }
  }
}
