/*** *** *** FOOTER SECTION:  *** *** ***/
.footer {
  background-color: $primary-color;

  //--- --- FOOTER LEFT STYLE: --- ---//
  .footer-l {
    max-width: 1125px;
    &__logo-image {
      height: 5.8em;
      margin-top: 23px;
      object-fit: contain;
      width: 100%;
      margin-bottom: 20px;
    }

    &__image1 {
      width: 100%;
      margin-top: -59;
      margin-bottom: 30px;
    }

    &__image2 {
      width: 100%;
      margin-top: -59;
      margin-bottom: 30px;
    }
  }

  //--- --- FOOTER RIGHT STYLE: --- ---//
  .footer-r {
    &__content {
      margin-top: 40px;
      margin-left: 85px;
      color: $white-color;
      @media screen and (max-width: 769px) {
        margin-left: 0px;
      }
    }
    &__heading {
      margin-bottom: 23px;
      font-size: 33px;
      @media screen and (max-width: 769px) {
        text-align: center;
      }
    }
    &__list {
      column-count: 3;
      list-style-type: none;
      position: relative;
      margin: 0px 22px 37px 0px;
      @media screen and (max-width: 769px) {
        flex-direction: column;
        column-count: 1;
        text-align: center;
      }
    }

    &__item {
      margin-bottom: 30px;
      @media screen and (max-width: 769px) {
        margin-bottom: 23px;
        font-size: 16px;
      }
    }
    &__smedia {
      margin-bottom: 19px;
      @media screen and (max-width: 769px) {
        text-align: center;
      }
    }
    &__smedia a {
      color: $secondary-color;
      font-size: 69px;
      height: 96px;
      width: 76px;
      display: inline-block;

      &:hover {
        filter: brightness(130%);
      }
    }
    &__copyright {
      font-size: 13px;
      @media screen and (max-width: 769px) {
        text-align: center;
      }
    }
  }
}
