.admin__body {
  background-color: black;
}

.admin-icon__reset {
  margin-left: 30px;
  margin-top: 17px;
}

.accordion > .card {
  overflow: visible;
}

.accordion-admin__card,
.accordion-admin__header {
  background-color: $off-white-color !important;
}

.accordion-admin-chevron__reset i {
  margin-left: 80%;
  // color: red;
  @media screen and (min-width: 752px) and (max-width: 991px) {
    margin-left: 86%;
  }
  @media screen and (min-width: 596px) and (max-width: 751px) {
    margin-left: 82%;
  }
  @media screen and (min-width: 446px) and (max-width: 595px) {
    margin-left: 75%;
  }
  @media screen and (max-width: 445px) {
    margin-left: 66%;
  }
}

.product-menu__link {
  // margin-top: 10px;
  position: relative;
  top: 50px;
}

// .accordion__title {
//   background-color: blue;
// }

// .btn-secondary__reset {
//   color: #000;
//   background-color: colors(grey);
//   border-color: colors(grey);
//   margin-top: 5px;

//   &:hover {
//     color: #000;
//     background-color: colors(grey, dark);
//     border-color: colors(grey, dark);
//   }
// }
